.site-nav .page-link {
  margin-left: 20px;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

.pdf-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.pdf-wrapper embed {
  width: 100%;
  max-width: 800px;  
  aspect-ratio: 8.5 / 11;
  height: auto;
}


/* Again try to fix mobile pdf viewer by using their browsers built in reader */
@media (max-width: 600px) {
  .pdf-wrapper {
    display: none;
  }
}
 
.pdf-fallback-link {
  display: none;
  text-align: center;
  margin: 1.5rem 0;
}
 
@media (max-width: 600px) {
  .pdf-fallback-link {
    display: block;
  }
}
